

.top_tt{
  text-align: center;
  color: black;
  top: 100px;
  
  font-size: 30px;

 
}


.business_Description{
  text-align : center;

}


.conment p{
  text-align : center;
  font-size:20px ;
  font-weight:800;
}



.wrapp {
  font-size: 30px;
  text-align:center;
  padding-top: 600px;

}

.sample_tt2 {
  font-size: 20px;
  text-align : center;
  padding-top:500px;
}
_
.sample_tt2_pt{
  
  text-align : center;
  padding-top: 800px;
}


.sample_tt3 {
  font-size: 20px;

  padding-top: 800px;
}

.sample_tt4 {
  font-size: 30px;
  text-align : center;
  padding-top:500px;
}

.sample_tt5 {
  font-size: 20px;
  text-align : center;
  padding-top:500px;
}
.sample_tt5_pt{
  
  text-align : center;
  
}

.sample_tt6 {
  font-size: 20px;
  text-align : center;
  padding-top:500px;
}
.sample_tt6_pt{
  
  text-align : center;
  
}


.icon img {
  
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}
